<%= form_for(@address) do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>
  <div class="field">
    <%= f.label :delivery_date %><br />
    <%= f.number_field :delivery_date %>
  </div>
  <div class="field">
    <%= f.label :number_order %><br />
    <%= f.number_field :number_order %>
  </div>
  <div class="field">
    <%= f.label :passenger %><br />
    <%= f.text_field :passenger %>
  </div>
  <div class="field">
    <%= f.label :customer %><br />
    <%= f.text_field :customer %>
  </div>
  <div class="field">
    <%= f.label :customer_phone %><br />
    <%= f.text_field :customer_phone %>
  </div>
  <div class="field">
    <%= f.label :delivery_address %><br />
    <%= f.text_field :delivery_address %>
  </div>
  <div class="field">
    <%= f.label :sum %><br />
    <%= f.text_field :sum %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
