<h1>Listing addresses</h1>

<table>
  <tr>
    <th>Delivery date</th>
    <th>Number order</th>
    <th>Passenger</th>
    <th>Customer</th>
    <th>Customer phone</th>
    <th>Delivery address</th>
    <th>Sum</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @addresses.each do |address| %>
  <tr>
    <td><%= address.delivery_date %></td>
    <td><%= address.number_order %></td>
    <td><%= address.passenger %></td>
    <td><%= address.customer %></td>
    <td><%= address.customer_phone %></td>
    <td><%= address.delivery_address %></td>
    <td><%= address.sum %></td>
    <td><%= address.note %></td>
    <td><%= link_to 'Show', address %></td>
    <td><%= link_to 'Edit', edit_address_path(address) %></td>
    <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Address', new_address_path %>
